<!DOCTYPE html>
<html>
    <head>
        <title>24SummerCapstone</title>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            table,
            th,
            td {
                border: 1px solid black;
            }
            th,
            td {
                padding: 10px;
                text-align: left;
            }
            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>
    <body>
        <h1>Admin page : Data</h1>

        <h2>Users</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Created Time</th>
                <th>Is Active</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone_num }}</td>
                <td>{{ user.created_time }}</td>
                <td>{{ user.is_active }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No recommendations found.</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Details</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Sex</th>
                <th>BMI</th>
                <th>Fat</th>
                <th>Age</th>
                <th>Fat Percentage</th>
                <th>Hr</th>
                <th>Waist</th>
                <th>Whr</th>
                <th>Muscle</th>
                <th>Sbp</th>
                <th>Dbp</th>
                <th>Hdl</th>
                <th>Ldl</th>
                <th>Tg</th>
                <th>Total Chol</th>
                <th>Fg</th>
                <th>Ppg</th>
                <th>Alt</th>
                <th>Hb</th>
                <th>Tsh</th>
                <th>Created Time</th>
                <th>Recommendation1</th>
                <th>Recommendation2</th>
            </tr>
            {% for detail in details %}
            <tr>
                <td>{{ detail.id }}</td>
                <td>{{ detail.user.id }}</td>
                <td>{{ detail.sex }}</td>
                <td>{{ detail.bmi }}</td>
                <td>{{ detail.fat }}</td>
                <td>{{ detail.age }}</td>
                <td>{{ detail.fat_percentage }}</td>
                <td>{{ detail.hr }}</td>
                <td>{{ detail.waist }}</td>
                <td>{{ detail.whr }}</td>
                <td>{{ detail.muscle }}</td>
                <td>{{ detail.sbp }}</td>
                <td>{{ detail.dbp }}</td>
                <td>{{ detail.hdl }}</td>
                <td>{{ detail.ldl }}</td>
                <td>{{ detail.tg }}</td>
                <td>{{ detail.total_chol }}</td>
                <td>{{ detail.fg }}</td>
                <td>{{ detail.ppg }}</td>
                <td>{{ detail.alt }}</td>
                <td>{{ detail.hb }}</td>
                <td>{{ detail.tsh }}</td>
                <td>{{ detail.created_time }}</td>
                <td>{{ detail.recommendation1 }}</td>
                <td>{{ detail.recommendation2 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No recommendations found.</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Health</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>User</th>
                <th>Diabetes Status</th>
                <th>Dyslipidemia Status</th>
                <th>Fatty Liver Status</th>
                <th>Metabolic Syndrome</th>
                <th>Anemia Status</th>
                <th>Hypertension Status</th>
                <th>Obesity Status</th>
                <th>Hypothyroidism Status</th>
                <th>Hyperthyroidism Status</th>
                <th>Created Time</th>
            </tr>
            {% for health in health %}
            <tr>
                <td>{{ health.id }}</td>
                <td>{{ health.user.id }}</td>
                <td>{{ health.user.name }}</td>
                <td>{{ health.diabetes_status }}</td>
                <td>{{ health.dyslipidemia_status }}</td>
                <td>{{ health.fatty_liver_status }}</td>
                <td>{{ health.metabolic_syndrome }}</td>
                <td>{{ health.anemia_status }}</td>
                <td>{{ health.hypertension_status }}</td>
                <td>{{ health.obesity_status }}</td>
                <td>{{ health.hypothyroidism_status }}</td>
                <td>{{ health.hyperthyrodism_status }}</td>
                <td>{{ health.created_time }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Sensors</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>User_ID</th>
                <th>User</th>
                <th>RM01</th>
                <th>RM02</th>
                <th>RM03</th>
                <th>RM04</th>
                <th>RM05</th>
                <th>RM06</th>
                <th>created_time</th>
            </tr>
            {% for sensor in sensors %}
            <tr>
                <td>{{ sensor.id }}</td>
                <td>{{ sensor.user.id }}</td>
                <td>{{ sensor.user.name }}</td>
                <td>{{ sensor.rm01 }}</td>
                <td>{{ sensor.rm02 }}</td>
                <td>{{ sensor.rm03 }}</td>
                <td>{{ sensor.rm04 }}</td>
                <td>{{ sensor.rm05 }}</td>
                <td>{{ sensor.rm06 }}</td>
                <td>{{ sensor.created_time }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No recommendations found.</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Recommendations</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Recommendation</th>
                <th>Recommendation2</th>
                <th>Recommendation3</th>
            </tr>
            {% for recommend in recommends %}
            <tr>
                <td>{{ recommend.id }}</td>
                <td>{{ recommend.code }}</td>
                <td>{{ recommend.recommendation }}</td>
                <td>{{ recommend.recommendation2 }}</td>
                <td>{{ recommend.recommendation3 }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No recommendations found.</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
