<!DOCTYPE html>
<html>
    <head>
        <title>24SummerCapstone</title>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            table,
            th,
            td {
                border: 1px solid black;
            }
            th,
            td {
                padding: 10px;
                text-align: left;
            }
            th {
                background-color: #f2f2f2;
            }
        </style>
    </head>
    <body>
        <h1>Admin page : Data</h1>

        <h2>Users</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone_num }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Details</h2>
        <table>
            <tr>
                <th>User</th>
                <th>Sex</th>
                <th>BMI</th>
                <th>Age</th>
                <th>created_time</th>
            </tr>
            {% for detail in details %}
            <tr>
                <td>{{ detail.user.name }}</td>
                <td>{{ detail.sex }}</td>
                <td>{{ detail.bmi }}</td>
                <td>{{ detail.age }}</td>
                <td>{{ detail.created_time }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Health</h2>
        <table>
            <tr>
                <th>User</th>
                <th>Diabetes Status</th>
                <th>Hypertension Status</th>
                <th>created_time</th>
            </tr>
            {% for health in health %}
            <tr>
                <td>{{ health.user.name }}</td>
                <td>{{ health.diabetes_status }}</td>
                <td>{{ health.hypertension_status }}</td>
                <td>{{ health.created_time }}</td>
            </tr>
            {% endfor %}
        </table>

        <h2>Sensors</h2>
        <table>
            <tr>
                <th>User</th>
                <th>RM01</th>
                <th>RM02</th>
                <th>RM03</th>
                <th>created_time</th>
            </tr>
            {% for sensor in sensors %}
            <tr>
                <td>{{ sensor.user.name }}</td>
                <td>{{ sensor.rm01 }}</td>
                <td>{{ sensor.rm02 }}</td>
                <td>{{ sensor.rm03 }}</td>
                <td>{{ sensor.created_time }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
